.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.log
.env
.env.local
.env.*.local
tmp/
temp/
*.tmp
*.pyc
__pycache__/
*.slurm
article
build
finetuned_models
textmine2025
glidre.egg-info
test*
*.odp
.ipynb_checkpoints/
checkpoints/